$primaryColor: #4527a4;

.wp-block-panorama-gallery {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
  .bBlocksGalleryViewer {
    display: flex;
    flex-direction: column;
    
    .panoramaGalleryViewer {
      overflow: hidden;
      .panolens-canvas {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  .icon {
    font-style: inherit;
  }
}
