$primaryColor: #4527a4;

.wp-block-panorama-virtual-tour {
  box-sizing: border-box;
  * { box-sizing: border-box}

  .tourBody{
    display: flex;
    gap: 10px;
  }
  .tourViewerWrapper{
    width: 100%;
    position: relative;
    display: flex;
  .tourViewer{
    position: relative;
    .tourViewerPlaceholder{
      position: absolute;
      left: 25%;
      top: 35%;
      color: red;
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
  
  }

  .popupWrapper {
    position: absolute;
    top: 100px;
    background: rgb(0 0 0 / 39%);;
    padding: 10px;
    z-index: 10;
    margin-left: 5px;
    border-radius: 5px;
    width: 385px;
    border: none;
    .selectSceneOrInfo{
      color: #fff;
      font-size: 20px;
      margin-bottom: 15px;
    }
    .infoAndSceneBtnWrap{
      display: flex;
      gap: 10px;
      margin-bottom: 15px;
      .infoBtn{
        flex: 1;
        padding: 10px;
        border-radius: 3px;
        border: none;
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        span{
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #fff;
          border-radius: 50%;
        }

      }
      .sceneBtn{
        font-size: 16px;
        border: none;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        span{
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #fff;
          border-radius: 50%;
        }
      }
    }
    .infoWrap{
      background: rgb(41 73 88 / 45%);
      padding: 1px 15px;
      border-radius: 5px;
      margin-bottom: 15px;
      h3{
        color: #fff;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: sans-serif;
      }
      .infoChildWrap{
        display: flex;
        align-content: center;
        gap: 5px;
        margin-top: 20px;
        .label{
          color: #fff;
          display: block;
          margin-top: 5px;
          font-size: 14px;
        }
        .infoInput{
          width: 284px;
          margin-bottom: 5px;
          border: none;
          border-radius: 3px;
          background: rgb(0 0 0 / 55%);
          color: #fff;
        }
        p{
          color: #ccc;
          font-size: 12px;
          margin: 0;
          margin-bottom: 10px;
        }
      }
    }
    .sceneWrap{
      background: rgb(41 73 88 / 45%);
      padding: 1px 15px;
      border-radius: 5px;
      margin-bottom: 15px;
      .sceneWrapChild{
        display: flex;
        align-content: center;
        gap: 5px;
        margin-top: 5px;
        .label{
          color: #fff;
          display: block;
          margin-top: 5px;
          font-size: 14px;
        }
        .components-select-control__input.css-k4pu08.e1mv6sxx2{
          border-radius: inherit;
          border-radius: 1px;
          width: 280px;
          background-color: #1e1e1e;
          color: white;
        }
        .css-1y1fx19.e1mv6sxx1{
          color: white;
        }
        .components-input-control__backdrop.css-ssb0uf.em5sgkm6{
          border: none;
        }
        .dropdown-container {
          position: relative;
          width: 279px;

          .sceneSlBtn {
            width: 100%;
            padding: 7px;
            margin-bottom: 5px;
            border: none;
            border-radius: 3px;
            background: rgb(0 0 0 / 55%);
            color: #fff;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: left;

            .icon-container {
              display: flex ;
              gap: 5px;
              font-size: 13px;
            }

            .dropdown-arrow {
              margin-left: 10px;
              font-size: 12px;
            }
          }

          .dropdown-list {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: rgb(0 0 0 / 91%);
            border-radius: 3px;
            max-height: 187px;
            overflow-y: auto;
            z-index: 1000;

            .dropdown-item {
              width: 100%;
              padding: 8px;
              background: transparent;
              border: none;
              color: #fff;
              cursor: pointer;
              display: flex;
              align-items: center;
              gap: 10px;
              text-align: left;

              &.active {
                background: rgb(30 144 255 / 30%);
              }

              .hotspot-icon {
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid;
                border-radius: 50%;

                &.scene {
                  border-color: #4CAF50;
                  background-color: rgba(76, 175, 80, 0.1);
                }

                &.info {
                  border-color: #2196F3;
                  background-color: rgba(33, 150, 243, 0.1);
                }
              }
            }
          }
        }

        .dropdown-label {
          color: #ccc;
          font-size: 12px;
          margin: 0;
          margin-bottom: 10px;
        }
      }

      .input-container {
        display: flex;
        gap: 5px;
        margin-top: 5px;

        .input-label {
          color: #fff;
          display: block;
          margin-top: 5px;
          font-size: 14px;
        }

        .input-field {
          width: 284px;
          margin-bottom: 5px;
          border: none;
          border-radius: 3px;
          background: rgb(0 0 0 / 55%);
          color: #fff;
        }

        .input-description {
          color: #ccc;
          font-size: 12px;
          margin: 0;
          margin-bottom: 10px;
        }
      }

    }
    .hotspotAddFirst{
      color: #fff; 
      margin: 5px 0px 10px; 
      font-size: 14px;
      background: rgb(220 53 69 / 30%);
      padding: 8px 12px;
      border-radius: 3px;
      width: 100%
    }
    .saveAndCancelWrap{
      display: flex;
      gap: 10px;
      .saveBtn{
        border-radius: 5px; 
        padding: 3px 15px;
        font-weight: 500;
        font-family: inherit;
        background-color: #1b7c25;
        cursor: pointer;
        transition: border-color 0.25s;
        margin-right: 5px;
        border: none;
        color: #fff;
        font-family: sans-serif;
        }
      .closeBtn{
        border-radius: 5px; 
        padding: 3px 10px;
        font-weight: 500;
        font-family: inherit;
        background-color: #b81515;
        cursor: pointer;
        transition: border-color 0.25s;
        border: none;
        color: #fff;
        font-family: monospace;
        }
    }
    
  }

  .hambergerMenu {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 5px 6px;
    border-radius: 4px;
    border: 1px solid #999;
    svg {
      display: block; 
    }
  }

  }
  
  .add-hotspot-icon{
    color : white;
    font-size : 24px;
    background : #1b7c25;
    border-radius : 50%;
    width : 40px;
    height : 40px;
    display : flex;
    justify-content : center;
    align-items : center;
    cursor : pointer;
  }

  .hotspot-tooltip {
    position: relative;
    cursor: pointer;
  
    .action-buttons {
      position: absolute;
      opacity: 0;
      display: flex;
      align-items: center;
      gap: 30px;
      top: 50%;
      margin-top: 13px;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 5px;
      border-radius: 3px;
      white-space: nowrap;
      z-index: 1000;
  
      .edit-btn,
      .delete-btn {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
      }
    }
  
    &:hover {
      .action-buttons {
        display: flex;
        opacity: 1;
        gap: 30px;
      }
    }
  }

  .hotspot-title-tooltip {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    display: none;
    white-space: nowrap;
    pointer-events: none;
    z-index: 1000;
  }

  .hotspot-container {
    padding: 2px 15px 15px 15px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    .crossBtn{
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      margin-left: 253px;
      cursor: pointer;
    }
  
    .hotspot-scroll {
      max-height: calc(100% - 40px);
      overflow-y: auto;
      margin-top : 10px;
  
      .hotspot-scene {
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9fafb;
  
        .hotspot-scene-title {
          padding: 5px 10px;
          border-bottom: 1px solid #ddd;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          cursor: pointer;
          background-color: #e5e7eb;
          color: #111;
          font-weight: bold;
  
          &.active {
            background-color: #2563eb;
            color: #fff;
          }
        }
  
        .hotspot-list {
          max-height: 200px;
          overflow-y: auto;
          padding: 12px;
          background-color: #fff;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
  
          .hotspot-item {
            display: flex;
            align-items: center;
            gap: 7px;
            padding: 5px 10px;
            border-radius: 6px;
            margin-bottom: 8px;
            background-color: #f3f4f6;
            color: #111;
            cursor: pointer;
            transition: background 0.2s ease;
  
            &.active {
              background-color: #4e5261db;
              color: #fff;
            }
  
            .hotspot-icon {
              width: 20px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 2px solid;
              border-radius: 50%;
          
              &.scene {
                border-color: #4CAF50;
                background-color: rgba(76, 175, 80, 0.1);
              }
          
              &.info {
                border-color: #2196F3;
                background-color: rgba(33, 150, 243, 0.1);
              }
            }
          }
  
          .hotspot-empty {
            color: #999;
          }
        }
      }
    }
  }

  .icon {
    font-style: inherit;
  }
}




